body{
    background-color: rgb(27,27,27);
    font-family: cascadia mono;
}

#h2snake:hover, #gameOver, #hpuntuacion, #hsnake, #hrecord{
    cursor: default;
}

#h2snake{
    transition: color 0.5s;
    display: none;
    position: fixed;
    font-size: 2vw;
    left: 46vw;
    color: rgb(220,220,220);
    margin-left: 20px;
}

#board{
    margin-top: 10vh;
    position: fixed;
    left: 30vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(10,1fr);
}

#start,.boardInfo{
    font-size: 1vw;
}

#gameOver{
    background-color: transparent;
    position: fixed;
    left: 42vw;
    bottom: 53vh;
    color: #f35a69;
    font-size: 2.5vw;
    display: none;
    z-index: 1001;
}

#reintentar{
    transition: background-color 0.5s;
    font-size: 1vw;
    height: 4vh;
    position: fixed;
    left: 46vw;
    bottom: 40vh;
    display: none;
    background-color: #f35a69;
    border: none;
    color: white;
    z-index: 1001;
}

#start:hover, #reintentar:hover{
    background-color: #ff0019;
    cursor: pointer;
    z-index: 1001;
}

#start:normal,#reintentar:normal{
    background-color: #f35a69;
}

#start{
    transition: background-color 0.5s;
    border-radius: none;
    height: 6vh;
    position: fixed;
    left: 48vw;
    bottom: 39vh;
    display: inline;
    background-color: #f35a69;
    border: none;
    color: white;
}

#h2snake:hover,#hsnake:hover{
    color: #f35a69;
}

#h2snake:normal,#hsnake:normal{
    color: white;
}

#hsnake{
    transition: color 0.5s;
    color: white;
    display: block;
    position: fixed;
    left: 35vw;
    bottom: 30vh;
    font-size: 10vw;
}

#hrecord{
    display: none;
    color: rgb(220,220,220);
    position: fixed;
    left: 46vw;
    bottom: 42.7vh;
    background-color: transparent;
    z-index: 1001;
}

#hpuntuacion{
    display: none;
    color: rgb(220,220,220);
    position: fixed;
    left: 46vw;
    bottom: 46vh;
    background-color: transparent;
    z-index: 1001;
}

#scoreBoard{
    position: fixed;
    bottom: 48.9vh;
    left: 52.7vw;
    background-color: transparent;
    display: none;
    flex-direction: column;
    color: rgb(220,220,220);
    z-index: 1001;
}

#endBoard {
    display: none;
    position: fixed;
    left: 39.5vw;
    bottom: 33vh;
    width: 21vw;
    height: 36vh;
    background-color: rgb(27,27,27);
    z-index: 1000;
}

#record{
    background-color: transparent;
    position: fixed;
    bottom: 45.5vh;
    left: 50.3vw;
    display: none;
    align-items: center;
    justify-content: center;
    color: rgb(220,220,220);
    z-index: 1001;
}

.square{
    width: 4vw;
    height: 8vh;
    border-radius: 15%;
}

.emptySquare{
    background-color: rgb(41, 41, 41);
}

.snakeSquare{
    background-color: rgb(96,96,96);
}

.foodSquare{
    display: block;
    background-color: #f35a69;
}