*{
    font-family: cascadia mono;
    color: white;
    background-color: rgb(28,27,27);
}
#h2snake{
    display: none;
    color: rgb(220,220,220);
    margin-left: 20px;
}

#board, .boardInfo{
    max-width: 500px;
}

#board{
    margin-top: 10px;
    position: fixed;
    left: 610px;
    display: grid;
    grid-template-columns: repeat(10,1fr);
}

#start,.boardInfo{
    font-size: 25px;
}

#gameOver{
    background-color: transparent;
    position: fixed;
    left: 800px;
    bottom: 500px;
    color: rgb(220,220,220);
    font-size: 50px;
    display: none;
}

.boardInfo{
    margin-top: 10px;
}
#reintentar{
    border-radius: 0px;
    font-size: 25px;
    margin-top: 5px;
    height: 45px;
    position: fixed;
    left: 880px;
    bottom: 445px;
    display: none;
    background-color: #f35a69;
    border: none;
    color: white;
}
#start:hover, #reintentar:hover{
    background-color: #f12e41;
    cursor: pointer;
}

#start{
    border-radius: 0px;
    margin-top: 5px;
    height: 45px;
    position: fixed;
    left: 915px;
    bottom: 400px;
    display: block;
    background-color: #f35a69;
    border: none;
    color: white;
}
#hsnake{
    display: block;
    position: fixed;
    left: 730px;
    bottom: 350px;
    font-size: 150px;
}
#hrecord{
    display: none;
    color: rgb(220,220,220);
    position: fixed;
    left: 1100px;
    top: 20px;
}
#hpuntuacion{
    display: none;
    color: rgb(220,220,220);
    position: fixed;
    left: 700px;
    top: 20px
}
#scoreBoard{
    position: fixed;
    bottom: 855px;
    left: 870px;
    display: flex;
    flex-direction: column;
    color: rgb(220,220,220);
}
#record{
    position: fixed;
    bottom: 855px;
    left: 1210px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(220,220,220);
}

.square{
    width: 70px;
    height: 70px;
}

.emptySquare{
    background-color: rgb(41, 41, 41);
}

.snakeSquare{
    background-color: rgb(96,96,96);
}

.foodSquare{
    background-color: #f35a69;
}